.imagenProducto {
    width: 85%;
    border-radius: 10%;
    padding: 10px;
    
}

.itemProductos h2 {
    font-size: 27px;
    color: white;
}

.itemProductos p {
    font-size: 20px;
    color: white;
}

.botonDetalle {
    margin: 10px;
    padding: 10px;
}