.contador {
    border: solid black 1px;
    border-radius: 17%;
    width: 150px;
    margin-left: 50%;
    padding: 5px;
}

.contenedorControles {
    width: 30%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.contenedorContador {
    background-color: grey;
    width: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.botonAgregar {
    padding: 5px;
    margin-bottom: 10px;
}

